* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: lightblue;
}
h1 {
  color: darkcyan;
}
h3 {
  color: rgb(0, 110, 255);
}
div {
  color: green;
}
.order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menuBG {
  width: 400px;
  height: 470px;
  margin: 10px auto;
}
#menuBG h1 {
  text-align: center;
}
#frmMenu {
  width: 600px;
  height: 200px;
}
#totalPrice {
  width: 200px;
  height: 190px;
  margin: 0 auto;
  float: right;
}
.left {
  width: 200px;
  height: 200px;
  float: left;
}
.right {
  width: 200px;
  height: 200px;
  float: right;
}
.middle {
  width: 200px;
  height: 200px;
  float: right;
}
#showText {
  width: 200px;
  height: 190px;
  margin: 0px auto;
  float: left;
}
#cart {
  margin: 0px auto;
  width: 400px;
  height: 200px;
}
#brnOrder {
  margin: 10px 0px 0px 100px;
  width: 100px;
  height: 40px;
}
#btnOrder {
  background-color: grey;
  padding: 10px;
  border: none;
  color: rgb(93, 42, 165);
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
